a.header, a.header:hover{color: #6d0019;}
ul.chat{margin:0;padding:0;overflow-y: scroll;max-height: 410px;min-height: 410px;}
ul.chat li{list-style:none;padding:5px 0;margin:10px auto;font-size:12px}
ul.chat li .message{display:block;border:1px solid #ddd;padding:5px;position:relative;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.05),inset 0 -1px 1px rgba(0,0,0,0.05);-moz-box-shadow:0 1px 1px rgba(0,0,0,0.05),inset 0 -1px 1px rgba(0,0,0,0.05);box-shadow:0 1px 1px rgba(0,0,0,0.05),inset 0 -1px 1px rgba(0,0,0,0.05)}
ul.chat li .message{text-align:left;background:#fff}
ul.chat li .message .text{display:block}
.chat-form{border-top:1px solid #ddd;background:#eee;padding:10px;margin:20px -10px -10px -10px}
.chat-form textarea{width:100%;padding:.5em;height:80px;outline:0!important;font-size:12px;margin-bottom:10px}
.channel-name{margin-top: 40px;}
.form-control:focus{box-shadow:none;}
